@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
/*Bon*/
.header{
    background-image: url("/images/header.jpg");
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;
    h1{
        color:#F46D25;
        padding-top: 20px;
        font-size: 40px;
        font-family: 'Lobster', cursive;
        text-align: center;
    }

}

.accueil-contenu{
    width: 50%;
    margin: auto;
    padding-top: 200px;
    color: #F46D25;
    text-align: center;
    font-size: 30px;
    p{
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 400;

    }
}

.card-body{
    min-height: 355px;
}
.contenu{
    margin-top: 100px;
    border: 2px dashed #F46D25;
    border-radius: 15px;
    ul{
        text-align: center;
    }
    a{
        text-align: center;
    }
    h2{
        font-family: 'Lobster', cursive;
    }
    button{
        margin-bottom: 30px;
    }


}
footer {
    bottom: 0;
    width: 100%;
}
h2,h3,h4{
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 30px;
}
h5{
    font-family: 'Nanum Myeongjo', serif;

}
.btn-add{


    a{
        text-align: center;
        color: white;
    }
}
.btn-show{
    margin: 30px 43%;
    width: 170px;
    a{
        text-align: center;
        color: white;
    }
}


.info-jeux{
    margin-bottom: 12px;
    a{
        color:white;
    }
}
.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 1;
    }
    @include media-breakpoint-only(xl) {
        column-count: 2;
    }
}
.info-jeux{
    margin-left: 50px;
    max-height: 50px;
    margin-bottom: 50px;

    btn{
        color: white;
    }
    a{
        color: blue;
    }
}
.card-deck{
    margin: 50px 5%;
}
.card-accueil{
    width: 100%;
    .card-body{
        max-width: 355px;
    }
    .card-img-top{
        max-width: 355px;
        background-color:#F46D25 ;
        min-height: 100px;
    }
    .card{
        max-width: 355px;
    }
}
.carte-body{
    min-height: 150px;
    background-color: rgba(37, 115, 125,0.8);
    text-align: center;
    color: white;
}
