@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header{
    background-color: red;
}
.contenu{
    margin-top: 100px;
    border: 2px dashed #F46D25;
    ul{
        text-align: center;
    }
    a{
        text-align: center;
    }
    h2{
        font-family: 'Lobster', cursive;
    }

}
footer {
    bottom: 0;
    width: 100%;
}
h1,h2,h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 30px;
}
a{
    text-align: center;
}
