@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.contenu{
    margin-top: 100px;
    border: 2px dashed #F46D25;
    ul{
        text-align: center;
    }
    a{
        text-align: center;
    }
    h2{
        font-family: 'Lobster', cursive;
    }


}
footer {
    bottom: 0;
    width: 100%;
}
h1,h2,h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 30px;
}
.btn-add{


    a{
        text-align: center;
        color: white;
    }
}
.btn-show{
    margin: 30px 43%;
    width: 170px;

    a{
        text-align: center;
        color: white;
    }
}


.info-jeux{
    margin-bottom: 12px;
    a{
        color:white;
    }
}
.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
}
